*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    background: bisque;
    width: 100%;
    height: 100vh;


   
}

.swiper-slide img{
  width: 80%;
  height:80% ;
}

.swiper {
    width: 90%;
    height: 90%;
    border-bottom-color: #7DA2A9;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 90%;
    height: 90%;
    object-fit: cover;
  }

  body {
    background:white;
    color: black;
  }
  .sect3{
    background-color:rgb(220, 224, 228);
 
margin-top: 100px;
}


  .sect3 p{
    font-size: 15px;
  }


  .swiper {
    width: 100%;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 75%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 100%;
    height: 100%;
    opacity: 0.6;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* .col-sm-1 i{
    padding-top: .5em;
    
  } */
  .heading h1{
    font-size: 20px;
  }
  /* .col-sm-3 i{
    height: 90%;
  } */
  /* .vehicle-features h3{
    padding-top: 1em;

    align-items: center;
    border-top:#7DA2A9;
    border-top-style: groove;
    border-top-color: #7DA2A9;
    border-top-style:inset;
    border-color:#7DA2A9; 
    border-top-width:thin;
  }
  .list{
   
    height: 80px;
    width:90vw ;
    min-width: 100px;
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    margin: auto;
 
    border-bottom:#7DA2A9;
    border-bottom-style: groove;
    border-bottom-color: #7DA2A9;
    border-bottom-style:inset;
    border-color:#7DA2A9; 
    border-bottom-width:thin;

    }
/* a{
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: black;
    font-size: 12px;
  
padding-top:5em;
padding-left: 7em;
align-items: center;
border-bottom: #7DA2A9;
  } */
 /* a:after{
    content: "";
    position: absolute;
 
height: 3px;
width: 7;
left: 0;
bottom: -10px;
transition: 0.3s;
  }
 a:hover{
    color:#7DA2A9 ;
  }
 a:hover:after{
    width: 100%;
  } */
 
  /* .listul{
    font-family: 'Oswald', sans-serif;
    line-height: 2; 
  } */
  .AI{
    background-color: #EFF1F3;
    padding-top: 2em;
    border-bottom:#7DA2A9;
    border-bottom-style: groove;
    border-bottom-color: #7DA2A9;
    border-bottom-style:inset;
    border-color:#7DA2A9; 
    border-bottom-width:thin;
    align-items: center;
    border-top:#7DA2A9;
    border-top-style: groove;
    border-top-color: #7DA2A9;
    border-top-style:inset;
    border-color:#7DA2A9; 
    border-top-width:thin;
  }
  .AI h4{
    font-family: 'Racing Sans One', cursive;
    padding: auto;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  .AI p{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    align-items: center;
  }

  .ftr{ border-top-style: groove;
    border-top-color: #7DA2A9;;
    }

    
.navbar
{   border-top-style: groove;
  border-top-color: #7DA2A9;
	border-bottom-style:inset;
	border-bottom-color:#7DA2A9; 
	border-bottom-width:thin;}
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, .15);}
.navbar-brand
{   font-size: 40px;
	text-align: left;
	align-items: center;
	padding: 10px 10px;
	color:#051622; 
	font-family: 'Racing Sans One', cursive;
    line-height: 12px;}
.navbar a
{  font-size: 18px;
   color:#051622;
   text-align:justify;
   text-decoration: none;
   padding: 7px 12px;
   font-family: 'Cabin Condensed', sans-serif;
   align-items:flex-start;}
.navbar a:hover
{ color:#051622;
  padding: 6px 10px;
  background:#EFF1F3;
  border-radius: 15px;}
  .pre
  {  background-color:rgb(220, 224, 228);
     border-bottom:#7DA2A9 ridge thin;
     padding: 8px 10px;
     margin-top: 100px;
    align-items: center;
   }
  .pre p
  {text-align:left;
   padding: 6px 1px;
   line-height: 20px;
   font-size: 15px;}

  .p1 a 
{text-align: right;
 padding: 6px 1px;
 line-height: 20px;
 font-size: 15px;
 color:black;
 text-decoration: none;}

#btn1,.btn
{ text-align: center;
  font-size: 18px;
  margin-left: 70px;
  background: #7DA2A9;
  border: #051622 outset thin;
  border-radius: 20px;
  padding: 7px 30px;
  font-family: 'Oswald', sans-serif;}

h6
{border-top:#7DA2A9 ridge thin;
text-align:center;
font-size: 20px;
color: black;
padding:10px 10px;
font-family: 'Oswald', sans-serif;}
.p2
{text-align:left;
 align-items: center;
 justify-content: center;
 padding: 8px 10px;
 font-size: 15px;
 color:black;
 text-decoration: none;}
.p3
{text-align:left;
 align-items: center;
 justify-content: center;
 padding: 10px 10px;
 font-size: 15px;
 color:black;
 text-decoration: none;}
.p2:hover
{color:#7DA2A9;
border-bottom:#7DA2A9 solid thin;}
.div2,.div3,.div4,.div5
{display: none;}
.box p{
  font-family: 'Oswald', sans-serif;
}
.ftr{
	background-color:rgb(220, 224, 228);
 border-top-style: groove;
	border-top-color: #7DA2A9;
	}
  .logftr:hover{
    box-shadow: 2px 2px 2px 4px rgba(0,0,0,0.5);
  }
